<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>네이버 검색</h1>  <!-- 파라미터 부분은 어떤 데이터를 같이 담을 것인가?-->
    <form action="https://search.naver.com/search.naver">   <!--폼의 액션으로 어떤 사이트를 지정할 것인가-->
        <input type="text" name="query">                    <!-- 이런 값을 서버에 같이 보낸다-->
        <input type="submit">
    </form>
</body>
</html>